body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eff2f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-select-show-search.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border: 0
}

.ant-row.ant-row-middle .ant-tag {
  font-size: 13px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 5px;
  margin: 0;
  background: #ededed;
  border-color: #ededed;
  border-radius: 5px;
}